* {
    box-sizing: border-box;
}
body{
    font-size: 16px;
    background: gainsboro;
    background-size: contain;
    font-family: 'Nunito', sans-serif;
}

h1, h2{
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 70%;
    margin: 0 auto;
    background: #fff;
    color: grey;
    min-height: 600px;
    text-align: center;
    padding: 10px 0;
}

.title {
    margin: 5px 0 50px 0;
}

.buttons {
    width: 75%;
    margin: 20px auto;
    border: 1px solid black;
    padding: 30px;
}

.display-top {
    width: 70%;
    margin: 0 auto;
    min-height: 150px;
    margin-bottom: 50px;
    padding: 30px;
    border: 1px solid black;
}

.display-top div{
    border: 1px solid #000;
    min-height: 50px;
    padding-top: 5px;
    font-size: 1.2rem;
}

.display-bottom {
    border: 1px solid black;
    min-height: 80px;
    padding: 10px 120px;
    text-align: right;
}

.btn {
    width: 25%;
    display: inline-block;
    border: 1px solid #000;
    margin: 0 15px;
    padding: 10px 0;
    box-shadow: 1px 1px 1px 1px rgba(40, 40, 40, 0.5);
    cursor: pointer;
}

.btn:hover {
    background: wheat;
    border-radius: 5px;
    color: #000;
}

